{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        ">= 5% in KR",
                        "safari >= 10"
                    ]
                }
            }
        ],
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 3,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": [
                "emotion"
            ]
        },
        "development": {
            "plugins": [
                [
                    "emotion",
                    {
                        "sourceMap": true
                    }
                ]
            ]
        }
    }
}